@font-face {
    font-family: 'Drakon';
    src: url("../fonts/Drakon.ttf") format('truetype');
}

body {
    background-color: #deb120;
}

.page-header {
    background-color: #000000;
    border: #000000;
    margin-top: 30px;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ff0000;
    font-family: 'Drakon';
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    border: 4px ridge rgb(80, 160, 80);
    border-radius: 10px;
    padding: 10px 20px;
}

h1, h2, h3, h4 {
    font-family: 'Pirata One';
}

.date {
    <!--margin-left: 75%;-->
    float: right;
    color: #454016;
}

.save {
    <!--margin-left: 140%;-->
    width: 89px;
    height: 52px;
    background: #000000;
    color: #ff0000;
    font-family: 'Drakon';
    font-size: 20pt;
}

.edit {
    width: 45px;
    height: 35px;
    border: #000000;
    background: #000000;
    font-size: 14pt;
    margin-right: 5px;
}

.post-form textarea, .post-form input {
    <!--width: 152%;-->
    width: 100%;
    background: rgba(255,255,255,0.5);
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post p {
    font-family: 'Chonburi';
    <!--width: 152%;-->
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
    color: #1a401a;
}

.post_header {
    font-family: 'Pirata One';
    font-size: 20pt;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.post-header {
    display: flex;
    float: right;
}

.glyphicon {
    color: #ff0000;
}

.publish {
    width: 80px;
    height: 35px;
    border: #000000;
    background: #000000;
    color: #ff0000;
    font-family: 'Drakon';
    font-size: 14pt;
    margin-right: 5px;
}

.delete {
    width: 45px;
    height: 35px;
    border: #000000;
    background: #000000;
    color: #ff0000;
    font-size: 14pt;
}
