{% load static %}
<html>
    <head>
        <title>Train your dragon NOW!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'CSS/main_style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Chonburi&family=Pirata+One&display=swap" type="text/css">
        <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}">
    </head>

    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" class="top-menu" title="Sign out">{% csrf_token %}
                    <button type="submit" class="sign-out"><span class="glyphicon glyphicon-log-out"></span></button>
                </form>
                <!--<a href="{% url 'logout' %}" class="top-menu" title="Sign out"><span class="glyphicon glyphicon-log-out"></span></a>-->
                <a href="{% url 'post_new' %}" class="top-menu" title="New post"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu" title="Drafts"><span class="glyphicon glyphicon-edit"></span></a>
                <p class="greetings">Hello {{ user.username }}!</p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu" title="Sign in"><span class="glyphicon glyphicon-log-in"></span></a>
            {% endif %}
            <h1><a href="/trainyourdragon">Train your dragon App</a></h1>
            <p style="color: red; background: transparent">Now it's just a blog, but soon it will be something else, something better I guess...</p>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>