{% load static %}
<html>
    <head>
        <title>Train your dragon NOW!</title>
        <link rel="shortcut icon" type="image/ico" href="{% static '/favicon.ico' %}">
    </head>

    <body>
        <div>
            <h1><a href="/">Train your dragon App</a></h1>
            <p style="color: red; background: transparent">Now it's just a blog but soon it will be something else, something better I guess...</p>
        </div>
        {% for post in posts %}
            <div>
                <p>Published: {{ post.published_date }}</p>
                <a href="">{{ post.title }}</a>
                <p>{{ post.text }}</p>
            </div>
            {{ post }}
        {% endfor %}
    </body>
</html>